<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Ingrese su E-mail</label>
        <input name="email">
        <br>
        <label>Ingrese su contraseña</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
    </form>
    <br>
    <p>No estás resgistrado? <a href="/register">Regístrate aquí</a></p>
    <p>No estás resgistrado? <a href="/api/session/github">Regístrate con Github aquí</a></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>